
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    padding: 15px 50px;
    background: #ff4d88;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: 500;
}

.nav-links .active {
    text-decoration: underline;
}

.btn-nav {
    padding: 8px 16px;
    background: white;
    color: #ff4d88;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.heading {
    text-align: center;
    margin: 40px 0;
    color: #d6336c;
    font-size: 35px;
    font-weight: bold;
}

.product-grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


.product {
    background: #fff5f9;
    border: 2px solid #ffb3cc;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(255, 80, 140, 0.15);
}

.product img {
    width: 220px;
    height: auto;
    border-radius: 10px;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(255, 80, 140, 0.3);
}

.price-box {
    margin-top: 10px;
}

.price-old {
    text-decoration: line-through;
    color: gray;
    font-size: 15px;
    margin-right: 5px;
}

.price-new {
    color: #d6336c;
    font-size: 22px;
    font-weight: bold;
}

.btn-cart {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #ff4d88;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-cart:hover {
    background: #e6005c;
}


footer {
    margin-top: 40px;
    padding: 20px;
    background: #ff4d88;
    color: white;
    text-align: center;
}


@media(max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner img {
        height: 300px;
    }
}

@media(max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
